#map {
    width:640px;
    height:640px;
    display: grid;      
    background-color: black;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows:  40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    
}

.tile {
    color: white;
    border-right: 1px dashed darkblue;
    border-bottom: 1px dashed darkblue;
}

.coord {
    color: white;
    text-align:center;
    vertical-align: middle;
}

.sector-right {
    border-right: 1px double lightblue;
}

.sector-down {
    border-bottom: 1px double lightblue;
}

.travelled {
    background: repeating-linear-gradient(  150deg,  #606dbc,  #606dbc 12px,  #465298 10px,  #465298 20px)
}

.arrow {
    size: 100%;
}
