body {
}

.container {
    
    text-align: center;
    background-color: #1a1a1a;
}

h1 {
    color: #ffcc00; /* Yellow header text */
    text-transform: uppercase;
    font-size: 1.8em;
    margin-bottom: 25px;
    animation: flicker 1.5s infinite alternate; /* Optional: A subtle flicker effect */
}

.progress-container {
    height: 45px;
    position:absolute;
    left: 44px;
    top: 257px;
    width:718px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0%; /* Starts at 0 */
    background: linear-gradient(to right, #444, #ffcc00); /* Black to yellow gradient */
    transition: width 10ms linear; /* Smooth visual update */
    box-shadow: 0 0 15px #ffcc00; /* Progress bar glow */
}

.status-text {
    position: absolute;
    top: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    left: 0;
    height: 50px;  
    font-size: 1.6em;
    text-align: center;
    width: 800px;
    color: #fff;
}

.warning-glow {
    color: #ffcc00;
    text-shadow: 0 0 5px rgba(255, 204, 0, 0.7);
}

/* Keyframe for the flicker effect */
@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
        text-shadow: 0 0 4px #ffcc00;
    }
    20%, 24%, 55% {
        opacity: 0.8;
        text-shadow: none;
    }
}